@model BasePathStrategySample.Controllers.TransactionViewModel

@{
    ViewData["Title"] = "Base Path Strategy Sample";
}

@if (Model.TenantInfo != null)
{
    <h3 class="mt-4">TenantInfo Values</h3>

    <table class="table">
        <thead>
            <tr>
                <th style="width:25%">Property</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@nameof(Model.TenantInfo.Id)</td>
                <td>@Model.TenantInfo.Id</td>
            </tr>
            <tr>
                <td>@nameof(Model.TenantInfo.Identifier)</td>
                <td>@Model.TenantInfo.Identifier</td>
            </tr>
            <tr>
                <td>@nameof(Model.TenantInfo.Name)</td>
                <td>@Model.TenantInfo.Name</td>
            </tr>
            <tr>
                <td>@nameof(Model.TenantInfo.ConnectionString)</td>
                <td>@Model.TenantInfo.ConnectionString</td>
            </tr>
        </tbody>
    </table>

    <br/>

    <table class="table">
        <thead>
            <tr>
                <th style="width:25%">TransactionId</th>
                <th>SiteId</th>
                <th>TransactionType</th>
            </tr>
        </thead>

        <tbody>
        
        @foreach (var tran in Model.Transactions)
        {
            <tr>
                <td>@tran.TransactionId</td>
                <td>@tran.SiteId</td>
                <td>@tran.TransactionType</td>
            </tr>
        }
        </tbody>

    </table>




}
else
{
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This sample highlights the <a href="https://www.finbuckle.com/MultiTenant/Docs/Strategies#base-path-strategy">base path multitenant strategy</a>.</p>
        <hr class="my-4">
        <p>
            For each request the base/first path segment is used to resolve the tenant.
        </p>
        <p>
            Configuration in <code>Startup.cs</code>:
        </p>
        <pre><code>services.AddMultiTenant&lt;TenantInfo&gt;().
    WithConfigurationStore().
    WithBasePathStrategy();</code></pre>
        <p>Click the links on the navbar to see it in action!</p>
    </div>
}